@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+AR:wght@100..400&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AR:wght@100..400&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+AR:wght@100..400&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AR:wght@100..400&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+AR:wght@100..400&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AR:wght@100..400&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+AR:wght@100..400&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AR:wght@100..400&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+AR:wght@100..400&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AR:wght@100..400&display=swap';
#price {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 300;
}

#price {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 300;
}

input[type=button], button[type=submit], input[type=submit] {
  background-color: #F5841A;
  color: #03002C;
  font-weight: 900;
  padding: 15px;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all .5s ease;
}

input[type=button] path, button[type=submit] path, input[type=submit] path {
  color: #03002C;
  transition: all .5s ease;
}

input[type=button]:hover, button[type=submit]:hover, input[type=submit]:hover {
  background-color: #BB0029;
  color: #F2E8C6;
}

input[type=button]:hover path, button[type=submit]:hover path, input[type=submit]:hover path {
  background-color: #BB0029;
  color: #F2E8C6;
}

#price {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 300;
}

#price {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 300;
}

a {
  text-decoration: none;
}

a:hover, a li:hover, a p:hover, a div:hover {
  color: #BB0029;
}

a:hover path, a li:hover path, a p:hover path, a div:hover path {
  color: #BB0029;
}

#price {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 300;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  border-radius: 35px;
  overflow: hidden;
  width: auto;
  font-family: "Montserrat", sans-serif;
}

form input[type=search] {
  padding: 6px 6px 6px 12px;
  font-size: 17px;
  height: 100%;
  border: none;
  outline: none;
  color: #03002C;
}

form .search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px 8px 10px;
  height: 100%;
  background: #F5841A;
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: all .5s ease;
}

form .search-btn path {
  color: #03002C;
}

form .search-btn:hover {
  background: #BB0029;
}

form .search-btn:hover path {
  color: #FBFDF8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #03002C;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #FBFDF8;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FBFDF8;
}

input[type=search] {
  width: 130px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

nav .mobile-list {
  cursor: pointer;
  padding-left: 18px;
  width: auto;
}

nav .categories {
  position: fixed;
  min-height: 100vh;
  width: 100%;
  padding: 20px;
  background-color: #F2E8C6;
  left: -100%;
  top: 0;
  list-style: none;
  z-index: 10000;
  transition: all 0.3s ease-in-out;
}

nav .categories .mobile-list {
  background-color: #FBFDF8;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 15px;
  cursor: pointer;
}

nav .categories li {
  margin: 20px 0;
  padding: 5px;
  border-radius: 5px;
  background-color: #FBFDF8;
}

nav .categories div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  background-color: #FBFDF8;
}

nav .categories svg {
  margin: 0 8px;
}

nav .categories .category-subcategory, nav .categories .category-account {
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
  border-radius: 0;
  background-color: #F2E8C6;
}

nav .categories .category-subcategory ul, nav .categories .category-account ul {
  display: none;
  margin: 5px 0 0 15px;
  list-style: none;
}

nav .categories .category-subcategory ul li, nav .categories .category-account ul li {
  margin: 8px 0;
  padding: 5px;
  border-radius: 5px;
  background-color: #FBFDF8;
}

nav .categories .category-subcategory.active ul, nav .categories .category-account.active ul {
  display: flex;
  flex-direction: column;
}

nav .categories .category-subcategory.active div svg:last-child, nav .categories .category-account.active div svg:last-child {
  transform: rotate(90deg);
}

nav .none {
  left: 0;
}

.nav-up {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
}

.nav-up svg, .nav-up div {
  margin: auto;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo svg {
  margin-right: 10px;
}

.logo svg path {
  color: #F5841A;
}

.logo p {
  font-family: "Playwrite AR", cursive;
  display: none;
}

.logo p:first-child {
  color: #BB0029;
  font-size: 12px;
}

.logo p:last-child {
  color: #F5841A;
  font-size: 8px;
}

.account {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 100%;
  margin: 10px;
  grid-column: 1/4;
  overflow-x: scroll;
}

.account li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.account li svg {
  margin-bottom: 8px;
}

footer {
  background-color: #F2E8C6;
}

footer .footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 30px;
  gap: 30px;
  width: 100%;
  margin: 0 auto;
}

footer ul {
  list-style: none;
}

footer ul p {
  margin-bottom: 10px;
  color: #BB0029;
}

footer ul li {
  margin: 5px 0;
}

footer ul li svg {
  margin-right: 5px;
}

footer ul:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer ul:last-child p {
  padding: 10px;
  width: 100%;
  text-align: center;
  border: 3px solid #BB0029;
}

footer ul:last-child .connections-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

footer ul:last-child .connections-box svg {
  cursor: pointer;
}

footer ul:last-child .connections-box svg path {
  color: #BB0029;
}

@media screen and (min-width: 1024px) {
  .mobile-list {
    display: none;
  }
  .logo {
    justify-content: flex-start;
    margin: 0;
  }
  .logo p {
    display: block;
  }
  .logo p:first-child {
    font-size: medium;
  }
  .nav-up {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 20px 50px;
  }
  .account {
    width: auto;
    overflow-x: visible;
  }
  .account li {
    margin: 0 15px;
  }
  nav .categories {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 10px 0;
    position: static;
    z-index: auto;
    padding: 0;
    min-height: auto;
    height: auto;
    background-color: #FBFDF8;
  }
  nav .categories li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  nav .categories li div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
  }
  nav .categories li svg {
    margin: 0 8px;
  }
  nav .categories .category-subcategory {
    flex-direction: column;
    margin-bottom: 0;
  }
  nav .categories .category-subcategory ul {
    display: none;
    grid-template-columns: auto auto;
    position: absolute;
    top: 110px;
    padding: 10px;
    gap: 10px;
    border-radius: 5px;
    background-color: #F2E8C6;
    opacity: 0;
  }
  nav .categories .category-subcategory ul li {
    float: left;
    background-color: #F2E8C6;
    margin: 0;
    padding: 0;
  }
  nav .categories .category-subcategory ul li svg {
    margin-left: 0;
  }
  nav .categories .category-subcategory.active div svg:last-child {
    transform: rotate(90deg);
  }
  nav .categories .category-subcategory.active ul {
    display: grid;
    opacity: 1;
  }
  nav .categories .category-account {
    flex-direction: column;
    margin-bottom: 0;
  }
  nav .categories .category-account ul {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 110px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #F2E8C6;
    opacity: 0;
  }
  nav .categories .category-account ul li {
    padding: 5px 0;
    background-color: #F2E8C6;
    margin: 5px 0;
    padding: 0;
  }
  nav .categories .category-account ul li svg {
    margin-left: 0;
  }
  nav .categories .category-account.active div svg:last-child {
    transform: rotate(90deg);
  }
  nav .categories .category-account.active ul {
    display: flex;
    opacity: 1;
  }
  footer .footer {
    grid-template-columns: repeat(4, 1fr);
    padding: 80px;
    gap: 40px;
    width: 80%;
  }
}

.text-style {
  --b: 0.1em;
  --c: #BB0029;
  color: #0000;
  padding-block: var(--b);
  background: linear-gradient(var(--c) 50%, #000 0) 0% calc(100% - var(--_p,0%))/100% 200%, linear-gradient(var(--c) 0 0) 0% var(--_p, 0%)/var(--_p, 0%) var(--b) no-repeat;
  -webkit-background-clip: text,padding-box;
  background-clip: text,padding-box;
  transition: 0.3s var(--_s, 0s) linear, background-size 0.3s calc(.3s - var(--_s,0s));
  cursor: pointer;
}

.text-style:hover {
  --_p: 100%;
  --_s: .3s;
}

.books {
  display: grid;
  padding: 40px;
  grid-template-columns: repeat(1, 1fr);
}

.book, .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.5s ease;
  margin: 20px 0;
}

.book:hover, .swiper-slide:hover {
  transform: translateY(-5px);
}

.book img, .swiper-slide img {
  width: 100%;
  border-radius: 20px 20px 20px 0;
}

.book .content, .swiper-slide .content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px 8px;
  width: 100%;
}

.book .content .price-buy, .swiper-slide .content .price-buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.book .content .price-buy p, .swiper-slide .content .price-buy p {
  font-size: 13px;
}

.book .content .price-buy #free, .swiper-slide .content .price-buy #free {
  padding: 5px;
  border: 2px solid red;
  border-radius: 5px;
  background-color: rgba(255, 0, 0, 0.2);
}

.book .content .price-buy #out_of_stock, .swiper-slide .content .price-buy #out_of_stock {
  padding: 5px;
  margin-right: 5px;
  border: 2px solid gray;
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.2);
}

.book .content .price-buy input[type=button], .swiper-slide .content .price-buy input[type=button] {
  font-size: 0.5rem;
  border-radius: 10px;
  padding: 7px;
}

.book .content #title, .swiper-slide .content #title {
  margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
  .books {
    padding: 40px 150px 60px 150px;
    gap: 80px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .books {
    grid-template-columns: repeat(5, 1fr);
  }
  .book, .swiper-slide {
    margin: 0;
  }
}

.welcome {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  max-width: 100vw;
}

.welcome .img-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  padding-top: 0;
  border-bottom: 5px solid #F2E8C6;
}

.welcome .img-content img {
  width: 100%;
}

.welcome .img-content .content {
  height: 70%;
}

.welcome .img-content .content p {
  margin: 20px 0;
}

.welcome .img-content .content #welcome-title {
  font-size: 40px;
}

.welcome .img-content .content #welcome-description {
  font-size: 16px;
}

.welcome .best-seller {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 4rem 0 2rem 0;
}

.welcome .best-seller #best-seller {
  font-size: 30px;
  margin-bottom: 20px;
}

.welcome .best-seller .swiper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  padding: 5px 0;
}

.welcome .best-seller .swiper .swiper-wrapper {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  overflow-y: visible;
}

.swiper-slide {
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.5s ease;
}

.swiper-slide:hover {
  transform: translateY(-5px);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}

.section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0 30px;
  margin-bottom: 50px;
}

.section-1 .images {
  margin-bottom: 50px;
}

.section-1 .images .style-3D {
  border-radius: 30px;
  overflow: hidden;
  transform: perspective(800px) rotateY(25deg) scale(0.9) rotateX(10deg);
  filter: blur(2px);
  opacity: 0.5;
  transition: 0.6s ease all;
}

.section-1 .images .style-3D:hover {
  transform: perspective(800px) rotateY(-15deg) translateY(-50px) rotateX(10deg) scale(1);
  filter: blur(0);
  opacity: 1;
}

.section-1 .content #title {
  font-size: 30px;
  margin-bottom: 20px;
}

.section-1 .content #description {
  font-size: 18px;
  margin-bottom: 30px;
}

.section-1 .content .statistics {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.section-1 .content .statistics div {
  border: 1px solid #03002C;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  width: 200px;
  transform: perspective(1500px) rotateY(15deg);
  transition: transform 0.5s ease 0s;
}

.section-1 .content .statistics div:hover {
  transform: perspective(3000px) rotateY(20deg);
}

.section-1 .content .statistics div p:first-child {
  font-size: 30px;
  margin-bottom: 5px;
  margin-left: 0;
}

.section-1 .content .statistics div p:last-child {
  font-size: 12px;
}

.section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-2 .filter-books {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem 0 2rem 0;
}

.section-2 .filter-books #filter-title {
  font-size: 30px;
  padding: 10px;
  margin-bottom: 2rem;
}

.section-2 .filter-books .swiper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  padding: 5px 0;
}

.section-2 .filter-books .swiper .swiper-wrapper {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .welcome .img-content img {
    width: 80%;
  }
  .section-1 .content {
    width: 75%;
  }
  .section-1 .content .statistics {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  .welcome .img-content {
    flex-direction: row;
    padding: 4rem 10rem 2rem 10rem;
  }
  .welcome .img-content img {
    width: 40%;
    margin-right: 50px;
  }
  .welcome .img-content .content #welcome-title {
    font-size: 50px;
  }
  .welcome .img-content .content #welcome-description {
    font-size: 20px;
  }
  .welcome .best-seller #best-seller {
    margin-bottom: 3rem;
  }
  .section-1 {
    flex-direction: row;
    width: 70%;
  }
  .section-1 .images {
    width: 35%;
    margin-bottom: 0;
    margin-right: 80px;
  }
  .section-1 .images img {
    width: 100%;
  }
  .section-1 .content {
    width: 65%;
  }
  .section-1 .content .statistics div {
    width: auto;
  }
  .section-1 .content .statistics div p:first-child {
    font-size: 40px;
  }
  .section-1 .content .statistics div p:last-child {
    font-size: medium;
  }
  .section-2 .filter-books #filter-title {
    margin-bottom: 3rem;
  }
}
