@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+AR:wght@100..400&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AR:wght@100..400&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+AR:wght@100..400&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AR:wght@100..400&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+AR:wght@100..400&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AR:wght@100..400&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+AR:wght@100..400&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AR:wght@100..400&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+AR:wght@100..400&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AR:wght@100..400&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+AR:wght@100..400&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AR:wght@100..400&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+AR:wght@100..400&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AR:wght@100..400&display=swap';
#price {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 300;
}

#price {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 300;
}

a {
  text-decoration: none;
}

a:hover, a li:hover, a p:hover, a div:hover {
  color: #BB0029;
}

a:hover path, a li:hover path, a p:hover path, a div:hover path {
  color: #BB0029;
}

#price {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 300;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  border-radius: 35px;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

form input[type=search] {
  padding: 6px 6px 6px 12px;
  font-size: 17px;
  height: 100%;
  border: none;
  outline: none;
  color: #03002C;
}

form .search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px 8px 10px;
  height: 100%;
  background: #F5841A;
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: all .5s ease;
}

form .search-btn path {
  color: #03002C;
}

form .search-btn:hover {
  background: #BB0029;
}

form .search-btn:hover path {
  color: #FBFDF8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #03002C;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  justify-content: space-between;
  background-color: #FBFDF8;
  min-height: 100vh;
}

.list {
  width: 20%;
}

.list .profile-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background-color: #F2E8C6;
}

.list .profile-list .profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list .profile-list .profile img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 100%;
  margin-right: 10px;
}

.list .profile-list svg {
  cursor: pointer;
}

.list ul {
  list-style: none;
  height: 100%;
  padding-top: 20px;
  background-color: #F2E8C6;
}

.list ul li {
  display: flex;
  justify-content: flex-start;
  padding: 8px;
  border-radius: 5px;
  background-color: #FBFDF8;
  margin: 20px 40px;
}

.list ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list ul li:first-child {
  margin-top: 0;
}

.list ul li svg {
  margin-right: 8px;
}

section {
  width: 80%;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background-color: #F2E8C6;
}

#price {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 300;
}

input[type=button], button[type=submit] {
  background-color: #F5841A;
  color: #03002C;
  font-weight: 900;
  padding: 15px;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all .5s ease;
}

input[type=button] path, button[type=submit] path {
  color: #03002C;
  transition: all .5s ease;
}

input[type=button]:hover, button[type=submit]:hover {
  background-color: #BB0029;
  color: #F2E8C6;
}

input[type=button]:hover path, button[type=submit]:hover path {
  background-color: #BB0029;
  color: #F2E8C6;
}

#price {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 300;
}

#price {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 300;
}

a {
  text-decoration: none;
}

a:hover, a li:hover, a p:hover, a div:hover {
  color: #BB0029;
}

a:hover path, a li:hover path, a p:hover path, a div:hover path {
  color: #BB0029;
}

#price {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 300;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  border-radius: 35px;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

form input[type=search] {
  padding: 6px 6px 6px 12px;
  font-size: 17px;
  height: 100%;
  border: none;
  outline: none;
  color: #03002C;
}

form .search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px 8px 10px;
  height: 100%;
  background: #F5841A;
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: all .5s ease;
}

form .search-btn path {
  color: #03002C;
}

form .search-btn:hover {
  background: #BB0029;
}

form .search-btn:hover path {
  color: #FBFDF8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #03002C;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  justify-content: space-between;
  background-color: #FBFDF8;
  min-height: 100vh;
}

.list {
  width: 20%;
}

.list .profile-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background-color: #F2E8C6;
}

.list .profile-list .profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list .profile-list .profile img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 100%;
  margin-right: 10px;
}

.list .profile-list svg {
  cursor: pointer;
}

.list ul {
  list-style: none;
  height: 100%;
  padding-top: 20px;
  background-color: #F2E8C6;
}

.list ul li {
  display: flex;
  justify-content: flex-start;
  padding: 8px;
  border-radius: 5px;
  background-color: #FBFDF8;
  margin: 20px 40px;
}

.list ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list ul li:first-child {
  margin-top: 0;
}

.list ul li svg {
  margin-right: 8px;
}

section {
  width: 80%;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background-color: #F2E8C6;
}

.orders-cart {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.orders, .cart {
  margin: 30px;
  padding: 30px;
  width: 45%;
  background-color: rgba(242, 232, 198, 0.3);
  border-radius: 20px;
}

.orders div, .cart div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.orders div a, .cart div a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.orders div svg, .cart div svg {
  margin-right: 8px;
}

.orders .title, .cart .title {
  font-size: 20px;
}

.orders ul, .cart ul {
  list-style: none;
  margin-bottom: 10px;
}

.orders ul li, .cart ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0;
  padding: 15px;
  border-radius: 5px;
  background-color: #FBFDF8;
  transition: transform 0.5s ease;
}

.orders ul li:hover, .cart ul li:hover {
  transform: translateY(-5px);
}

.orders ul li img, .cart ul li img {
  width: 100px;
  border-radius: 5px;
  margin-right: 20px;
}

.orders ul li div, .cart ul li div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.orders ul li div p:first-child, .cart ul li div p:first-child {
  font-size: 20px;
  margin-bottom: 10px;
}

.orders ul li div p:last-child, .cart ul li div p:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.orders ul li form, .orders ul li a, .cart ul li form, .cart ul li a {
  margin-top: 15px;
  height: auto;
}

.orders ul li button[type=submit], .cart ul li button[type=submit] {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.orders .more button[type=submit], .cart .more button[type=submit] {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.orders {
  width: calc(100% - 60px);
}

.orders div {
  margin-bottom: 30px;
}

.orders ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.orders ul li {
  margin: 0;
}
