.books {
    display: grid;
    padding: 40px;
    grid-template-columns: repeat(1, 1fr);
}

.book, .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.5s ease;
    margin: 20px 0;

    &:hover {
        transform: translateY(-5px);
    }

    img {
        width: 100%;
        border-radius: 20px 20px 20px 0;
    }

    .content {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding: 10px 8px;
        width: 100%;
        
        .price-buy {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-top: 10px;

            p {
                font-size: 13px;
            }

            #free {
                padding: 5px;
                border: 2px solid red;
                border-radius: 5px;
                background-color: rgba($color: red, $alpha: 0.2);
            }

            #out_of_stock {
                padding: 5px;
                margin-right: 5px;
                border: 2px solid gray;
                border-radius: 5px;
                background-color: rgba($color: gray, $alpha: 0.2);
            }

            input[type=button] {
                font-size: 0.5rem;
                border-radius: 10px;
                padding: 7px;
            }
        }

        #title {
            margin-bottom: 5px;
        }
    }
}

@media screen and (min-width: 768px) {
    .books {
        padding: 40px 150px 60px 150px;
        gap: 80px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .books {
        grid-template-columns: repeat(5, 1fr);
    }

    .book, .swiper-slide {
        margin: 0;
    }
}