@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+AR:wght@100..400&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AR:wght@100..400&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+AR:wght@100..400&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AR:wght@100..400&display=swap';
#price {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 300;
}

#price {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 300;
}

input[type=button], button[type=submit], input[type=submit] {
  background-color: #F5841A;
  color: #03002C;
  font-weight: 900;
  padding: 15px;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all .5s ease;
}

input[type=button] path, button[type=submit] path, input[type=submit] path {
  color: #03002C;
  transition: all .5s ease;
}

input[type=button]:hover, button[type=submit]:hover, input[type=submit]:hover {
  background-color: #BB0029;
  color: #F2E8C6;
}

input[type=button]:hover path, button[type=submit]:hover path, input[type=submit]:hover path {
  background-color: #BB0029;
  color: #F2E8C6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #03002C;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #FBFDF8;
}

.form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 30px;
  width: 80%;
  border-radius: 20px;
  background-color: #F2E8C6;
}

.form h2 {
  margin-bottom: 30px;
}

form .errorlist {
  list-style: none;
  border: 2px solid red;
  border-radius: 10px;
  padding: 20px;
  margin: 10px 0;
  background-color: rgba(255, 0, 0, 0.3);
  font-weight: 500;
}

form .errorlist.nonfield {
  margin: 0;
}

form div {
  margin: 40px 0;
}

form div input {
  border: none;
  outline: none;
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  background-color: #F2E8C6;
  border-bottom: 2px solid #000;
  transition: all 0.2s ease;
}

form div input:focus {
  border-bottom: 2px solid #F5841A;
}

form .helptext {
  display: none;
}

@media screen and (min-width: 768px) {
  .form {
    width: 60%;
  }
}

@media screen and (min-width: 1024px) {
  .form {
    width: 40%;
  }
}
